a {
    text-decoration: none;
}
a:hover {
    opacity: 0.9;
}
p {
    font-size: 1.4em;
}
.navbar {
    position: sticky;
    top: 0;
}
.cover {
    min-height: 14em; 
    background-image: url('../images/pexels-pixabay-210607.jpg');
    background-size: cover;
}
.cover h1 {
    text-shadow: 3px 3px 0px rgba(255,255,255,0.5);
}
.searches {
    min-height: 10em;
}
.dataTerminal {
    min-height: 14em;
    overflow-y: auto;
}
table {
    padding-top: 0.8em;
    width: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    display: flex;
    overflow: auto;
    font-size: 1.3em;
}
thead {
    background: #212529;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    z-index: 1000;
}
tbody {
    display: flex;
    flex-direction: row;
}
tr {
    display: flex;
    flex-direction: column;
}
td {
    white-space: nowrap;
    text-align: center;
    border-right: 1px solid #FFFFFF;
}
table::-webkit-scrollbar {
    background: #212529; /* Set the color of the thumb on hover */
    border-radius: 0.4em;
}
table::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 0.4em;
}
table::-webkit-scrollbar-thumb:active {
    background: #6C757D;
}
.search-comp::placeholder {
    color: #FFFFFF;
}
.filters {
    display: block;
    font-size: 1.2em;
}
canvas {
    padding-top: 1em;
}
#dropMinutes a:hover {
    color: #212529!important;
    background: #FFFFFF;
}
