a {
    text-decoration: none;
}
a:hover {
    opacity: 0.9;
}
.cover {
    min-height: 16em; 
    background-image: url('../images/pexels-pixabay-210607.jpg');
    background-size: cover;
}
.cover h1 {
    text-shadow: 3px 3px 0px rgba(255,255,255,0.5);
}
