@media (max-width: 766px) {
    #marketData table {
        font-size: 0.5em !important;
    }
    .dataTerminal {
        font-size: 0.8em !important;
    }
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.9;
}
p {
    font-size: 1.4em;
}
#navbar {
    position: sticky;
    top: 0;
    background: #6C757D;
    z-index: 1000;
}
.cover {
    min-height: 20em; 
    background-image: url('../images/business.jpg');
    /* background-image: linear-gradient(176deg, #22313F 70%, #F4F4F4 calc(70% + 2px)),url('../images/business.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center center;
    background-attachment: fixed;
}
.cover h1 {
    text-shadow: 0.125em 0.125em 0em rgba(33,37,41,0.8);
}
.searches {
    min-height: 14em;
}
.globalData {
    font-size: 0.85em;
}
.globalData tr:hover {
    background: var(--bs-secondary) !important;
}
.dataTerminal {
    min-height: 13em;
    overflow-y: auto;
}
.dataTerminal p {
    margin: 0 auto;
}
.px-3 {
    padding-right: 0.5em !important;
    padding-left: 0 !important;
}
.dataTerminal table {
    padding-top: 0.8em;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    display: flex;
    overflow: auto;
    font-size: 1.15em;
}
.dataTerminal thead {
    background: #212529;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    z-index: 900;
}
.dataTerminal tbody {
    display: flex;
    flex-direction: row;
}
.dataTerminal tr {
    display: flex;
    flex-direction: column;
}
.dataTerminal td {
    white-space: nowrap;
    text-align: center;
    border-right: 1px solid #FFFFFF;
}
table::-webkit-scrollbar {
    background: #6c757d;
    border-radius: 0.4em;
}
table::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 0.4em;
    border: 2px solid #6C757D;
}
table::-webkit-scrollbar-thumb:active {
    background: #212529;
    border: 2px solid #FFF;
}
.search-comp::placeholder {
    color: #FFFFFF;
}
.filters {
    display: block;
    font-size: 1.1em;
}
canvas {
    padding-top: 1em;
}
.dropdown-menu {
    z-index: 999;
}
.dropdown-item:hover {
    color: var(--bs-dark) !important;
    font-weight: bolder;
}
.dropdown-item:active {
    color: var(--bs-light) !important;
    background: var(--bs-secondary) !important;
}
.dropdown-item:hover {
    color: #212529;
}
.toggler-custom {
    color: #FFF;
}
.logger {
    min-height: 80vh;
}
.login-jpg img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    filter: invert(14%);
    max-width: 100%;
}
.longin:hover {
    border: 1px solid #fff;
    border-radius: 0.5em;
    margin: -1px;
}
.btn-sgn {
    text-align: center !important;
}
footer {
    position: sticty;
    bottom: 0;
}
